<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLockTooTaxi.Properties.Settings.LockTooTaxi" connectionString="Dsn=LockTooTaxi;uid=rifl;pwd=schneider"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>